# dependencies
node_modules

# next.js
.next
out
dist

# production
build

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
tsconfig.tsbuildinfo

# system
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# archives / local artifacts
*.zip
*.tar
*.tgz
# cache
.cache
